.Header-Primary{
    display: flex;
    justify-content: start;
    background-color: #363636;
    color: white;
    padding: 10px;
    font-weight: 300;
    font-family: montserrat;

}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
.icons i{
    color: #01AAFF;
    margin: 5%;
}
.Header-Primary a{
    text-decoration: none;
    color: #01AAFF;
    padding-right: 5px;
}
.container-nav-home{
    background-color: white;
    box-shadow: 1px 15px 50px -15px lightgray;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: montserrat;
    font-size: large;

}
.container-nav-home a{
    text-decoration: none;
    color: #01AAFF;

}
.container-nav-home a:hover{
    text-decoration: none;
    color: #01AAFF;

}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-bar{
    background: #f0f0f0;
    padding: 5px;
    padding-left: 15px;
    border-radius: 10px;
    height: 30px;
    width: 300px;
    border: none;
}
.search-icon{
    display: flex;
    position: relative;
    right: 30px;
}

.search-bar::placeholder{
    padding-left: 5px;
    color: black;
    
    
}
@media screen and (max-width:568px){
    header p{
        display: none;
    }
    header i{
        margin: 5%;
    }
    
    
}