*{
    margin: 0;
    padding: 0;
    font-family: montserrat;
}
h3{
    font-size: large;
    font-weight: 600;
}
p{
    font-size: large;
}

main section{
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 3%;
}
main section img {
    width: 40%;
    margin: 5%;
}

main .Logo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 50px;
}
main .welcome {
    text-align: center;
}


main .section-history{
    display: flex;
    justify-content:center;
    align-items: center;
   
}
main .section-we_do{
    display: flex;
    justify-content: center;
    align-items: center;
}
main section .Mission-Vision{
    display: flex;
    justify-content: center;
    align-items: center;
}