*{
    margin: 0;
    padding: 0;
    font-family: montserrat;
}
main{
    margin-left: 15%;
    margin-right: 15%;
}
main .Title-start{
    margin: 5%;
    text-align: center;
}
main .form{
    display: flex;
    justify-content: center;
}
main .form section{
    margin: 5%;
}
main .form section input{
    width: 500px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid lightgray;
}
main .form .info-Contact{
    padding: 5%;
    border: 1px solid lightgray;
    height: 200px;
    border-radius: 5px;
    box-shadow: 1px 1px 7px 1px lightgray;

}
main .map{
    margin-top: 10%;
    text-align: center;
}
@media screen and (max-width:1024px) {
    main .form{
        display:flex;
        flex-wrap: wrap;
    }
    
}
@media screen and (max-width:568px) {
    main .form section input{
    width: 250px;
}
}